body {
  color: white;
  background-image:url('../img/pizza.jpg');
  background-size: 100%;
  background-position-x: center;
  background-position-y: center;
  padding-top:5px;
  background-size:cover;
  background-repeat: no-repeat;
  height: 100%;
}
#receipt {
  display: none;
}
.well {
background:transparent; 
}
